POSTGRES_PASSWORD=change_me
DATABASE_URL=postgresql://natone:change_me@db:5432/natone?schema=public
LETSENCRYPT_EMAIL=you@example.com
JWT_SECRET=replace_me
SEED_ADMIN_EMAIL=admin@admin
SEED_ADMIN_PASSWORD=replace_me
